*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100px;
   
  
   
    

}
a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    transition-duration: 1s;
   }
   a:hover{
   

    color:orange;

   } 
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  
    

}
li{
 margin-right:40px ;
   list-style-type: none;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40px ;
}

@media screen and (max-width: 480px) {
.mm{
        display: none;


    }

  }
  .min{
    font-family: roboto;
    font-weight: bolder;
    font-size: 9.2vw;
    position: relative;
    top: 1.5vh;
    left: 5.5vw;
    color: ;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(6, 151, 118) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1000;
  }
.con {
    border-radius: 11px;
    background-color: yellow;
    width: 300px;
    height: 30px;
    font-family: roboto;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(6, 151, 118);
    border: 0;
    position: relative;
    top: 12vh;
    right: -37vw;
    outline: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
    

}
.con:hover{
    background-color: #000;
    color: white;
    transition-duration: 0.2s ;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.min1 {
    font-family: roboto;
    font-size: 10vw;
   

}
.img1{
    position: absolute;
    top: 11vw;
    right: 3vw;
    
    z-index: 0;
    
}
.pou {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9vh;
    font-family: roboto;
    font-size: 1.5vw;
    color: orange;
    
} 
.signbutton{
    letter-spacing: 1px;
}.form{
    display:flex;
justify-content: center;
align-items: center;
padding: 10px;
margin-top: 10px;
flex-direction: column;
}
input{
    padding: 10px;
    wi
}

