*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    height: 100px;
   
  
   
    .img3{
        border-radius:11px ;
    }

}
a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    transition-duration: 1s;
   }
   a:hover{
   

    color:orange;

   } 
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  
    

}
li{
 margin-right:40px ;
   list-style-type: none;
}
.right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:40px ;
}

@media screen and (max-width: 480px) {
{
      


    }

  }
  .min{
    font-family: roboto;
    font-weight: bolder;
    font-size: 9.2vw;
    position: relative;
    top: 1.5vh;
    left: 5.5vw;
    color: ;
    background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(6, 151, 118) );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 1000;
  }
.con {
    border-radius: 11px;
    background-color: yellow;
    width: 300px;
    height: 30px;
    font-family: roboto;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(6, 151, 118);
    border: 0;
    position: relative;
    top: 12vh;
    right: -37vw;
    outline: 0;
    justify-content: center;
    align-items: center;
    cursor: pointer;
   
    

}
.con:hover{
    background-color: #000;
    color: white;
    transition-duration: 0.2s ;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.min1 {
    font-family: roboto;
    font-size: 10vw;
   

}
.img1{
    position: absolute;
    top: 11vw;
    right: 3vw;
    
    z-index: 0;
    
}
.pou {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9vh;
    font-family: roboto;
    font-size: 1.5vw;
    color:black;
    
} 
.signbutton{
    letter-spacing: 1px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;

}
.icons i {
    margin: 10px;
    margin-top: 40px;
}
.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7vh;
    gap:3vw;
}



  
        
 
        
        
        .lang:hover{
        translate: 5px -10px;
        
        }
        .langs {
        margin-left: 10px;
        }
        .langl {
        margin-top: 5px;
        }
    
    
    .button {
        margin-top: 60px;
      text-decoration: none;
      height:35px;
      width: 160px;
      border-radius: 15px;
      font-size:medium;
      background-color: #eee;
      justify-content: center;
      align-items: center;
      color: #12130c;
    }
    .lang a {
        text-decoration: none;
    
    }
    .button {
        margin: 0;
        position: relative;
        top: 30px;
    }
    .ss{
        position: relative;
        top: 38px;
        
    }
    .dd{
        position: relative;
    top: 18px;
    }
    .ww{
        position: relative;
        top: 20px;
    }
    h4  {
        color: gold;
    }
       footer {
        width: 100% !important;
       }
     
.logo:hover
{
    translate: 2px 4px;
    color: gold;
 
 
}
.lang {
color:#000;
width: 220px;
height: 600px;
background-color: white;
padding: 60px;
margin: 10px;
border: solid blue 3px;
border-radius: 15px;
overflow: hidden;
margin: 100px;
transition-duration: 1s;
background-color:;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;



}
.circle{
background-color:gold;
border-radius: 50%;
width: 500px;
height: 500px;
filter:blur(75px);
position: relative;
top: 93px;
right: 127px;
overflow: hidden;
}
.langs {
display: flex;
align-items: center;
justify-content: center;
display: flex;
flex-direction: column;
min-width:500px;

flex: 1;

align-items: center;


flex-direction: row;
}

.lang:hover{
translate: 5px -10px;

}
.langs {

}
.langl {
margin-top: 15px;
}
.top1 {
    justify-content: center;
    display: flex;
    border-bottom:4px solid gold ;
    width: 180px;
font-size: 30px;
}
.h3 {
 display: flex;
 justify-content: center;
 align-items: center; 
 margin-top: 10px;  
    
}
::selection{
    background-color: gold;
    color: #12130c;
}
::selection{
    background-color: gold;
    color: #12130c;
}
   li { padding: 2px;}

   .button {
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
   }
   .ww1 {
   position: relative;
   top:90px;
   left: 30px;
   }

   .button1{
    text-decoration: none;
    height:35px;
    width: 160px;
    border-radius: 15px;
    font-size:medium;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    color: #12130c;
    display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
position: relative;
bottom:-145px;
left: 30px;
   }
   
   .button2{
    
   text-decoration: none;
    height:35px;
    width: 160px;
    border-radius: 15px;
    font-size:medium;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    color: #12130c;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: relative;
    border: solid  black 2px;
    
   }
   .button3{
    text-decoration: none;
    height:35px;
    width: 160px;
    border-radius: 15px;
    font-size:medium;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    color: #12130c;
    display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
position: relative;
bottom: -50px;
left: 30px;
border: solid  black 2px;
   }
   .space{position: relative;
right: 5px;

}
.color{position: relative;
    color: blue; 
   bottom: 20px;
}
.ul{
    display: flex;
    flex-direction: column;
}.subs{
    font-family: roboto;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    margin-top: 16vh;
    justify-content: center;

   
}.left{
    margin-right: 00px;
}
h2 span {
    direction: rtl !important;
}
main{
   
}
@media only screen and (max-width: 450px) {
nav {
    width:100% ;
    height: 200px;
}
.img1 {
   display: none;
}
.mm{
    display:none ;
}
.langs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    
    margin: 0;
    width: 50%;
    m
    
}
.lang{
    margin: 0;
    margin-bottom: 100px;
}
.img3{
    size: 100px;
}
.subs{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
.icons{
   
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}
 .pou{
    margin-top: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    font-size: 5vw;
 }         
.min{
    font-size: 13vw;
}
.pou{
  font-size: 16px;
  margin-bottom: ;
}
.right {
    margin-left: 50px;

}
.subs {
    margin-left: 40px;
    margin-bottom: 10px;

}
.icons {
    margin-left: 50px;

}
.pou {
    margin-left: 50px;

}
